* {
  box-sizing: border-box;
  font-family: 'Roboto';
}

a {
  text-decoration: none;
}

.dark ::-webkit-scrollbar {
  width: 10px;
}

.dark ::-webkit-scrollbar-track {
  background-color: #0d0e1a; 
}

.dark ::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
.dark ::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

#root {
  background-color: #F2F4FF;
  min-height: 100vh;
}

.bg-transition {
  transition: background 1s ease-in;
}

.text-transition {
  transition: color 1s ease-in;
}

.remove-root-padding {
  padding: 0 !important;
}

.remove-root-bg {
  background-color: #FFF !important;
}

.user-message {
  background-color: #D9E5E9;
}

.other-message {
  background-color: #48B0D0;
}

.sub-root {
  min-height: 95vh;
}

@media screen  and (min-width: 900px){
  #root {
    display: flex;
    padding-left: 60px;
  }

  .sub-root {
    box-shadow: 0px 43px 50px 9px rgb(0 0 0 / 6%);
    width: 410px;
  }
}
