.selectedButton {
    background-color: #03304a !important;
    color: #FFF !important;
}

.darkBlue1 {
    color: #0f4e6c;
}

.leftSideIntro {
    align-self: flex-start;
}

.imageContainer {
    height: 144px;
    width: 144px;
}

.leftSideImage {
    object-fit: cover;
}

.leftSideSubtitleContainer {
    border-radius: 0 65px 69px 0;
    background: #FFF;
    width: 80%;
}

.contactLinks {
    color: #e7e6e9;
    margin-bottom: 10px;
}

.expertiseItem {
    list-style-type: none;
    margin-bottom: 7px;
}

.rightSideTitle {
    color: #081f3e;
}

.rightSideSubtitleContainer {
    background-color: #294468;
    border-radius: 100px 0 0 100px;
}

.experienceSubtitle {
    font-size: 1.2rem !important
}

.experienceItem {
    margin-bottom: 7px;
}

.projectsLink {
    color: #11085e;
}

.projectsLink:hover {
    text-decoration: underline !important;
}

@media screen and (min-width: 600px) {
    .main {
        min-height: 70vh;
        margin-left: 15%;
        margin-right: 15%;
    }
}

@media screen and (min-width: 900px) {
    .main {
            margin-left: auto;
            margin-right: auto;
            width: 800
    }

    .leftSide {
        border-radius: 100px 100px 0 0;
        width: 200px;
    }

    .imageContainer {
        border-radius: 50%;
        margin-left: 40px !important;
        margin-right: 40px !important;
    }

    .leftSideImage {
        border-radius: 50%;
    }

    .leftSideIntro {
        align-self: initial;
    }

    .rightSidePosition {
        font-size: 1.5rem !important    
    }

    .rightSideTitle {
        font-size: 3.75rem !important;
    }
}