.selectedButton {
    background-color: #03304a !important;
    color: #FFF !important;
}

.darkBlue1 {
    color: #0f4e6c;
}

.leftSideIntro {
    align-self: flex-start;
}

.imageContainer {
    height: 144px;
    width: 144px;
}

.leftSideImage {
    object-fit: cover;
}

.expertiseItem {
    list-style-type: none;
    margin-bottom: 7px;
}

.experienceSubtitle {
    font-size: 1.2rem !important
}

.experienceItem {
    margin-bottom: 7px;
}

.projectsLink {
    color: #11085e;
}

.projectsLink:hover {
    text-decoration: underline !important;
}

@media screen and (min-width: 900px) {
    .main {
        margin-left: auto;
        margin-right: auto;
    }

    .leftSide {
        border-radius: 115px 115px 0 0;
        width: 250px;
    }

    .imageContainer {
        border-radius: 50%;
        margin-left: 40px !important;
        margin-right: 40px !important;
    }

    .leftSideImage {
        border-radius: 50%;
    }

    .leftSideIntro {
        align-self: initial;
    }

    .rightSidePosition {
        font-size: 1.5rem !important    
    }

    .rightSideTitle {
        background-image: linear-gradient(45deg, #ea580c, #db2777);
        font-size: 3.75rem !important;
    }
}