.bg-transition {
    transition: background 2s ease-in-out !important;
}

.color-transition {
    transition: color 2s ease-in-out !important;
}

.pink-theme .text-color {
    color: #E7816B !important;
}